<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/in-amber/secure-fileshare-project" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Go, Cybersecurity
                            </div>
                            <div class="project-name">
                                Secure File Sharing System
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/in-amber/auto-pentester-project" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python, Penetration Testing
                            </div>
                            <div class="project-name">
                                Automated Penetration Testing Tools
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="../img/pdfs/ML_Paper.pdf" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Python, Machine Learning & AI
                            </div>
                            <div class="project-name">
                                Bias in Machine Learning Research Paper
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
